*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mali';
    background-image: url(../img/Fondo.png);
}
.container{
    width: 1110px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}
.menu{
    padding: 80px 88px 80px 88px;
    width: 100%;
    margin: 0 auto;
    position: fixed;    
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: space-between;
}
.button{
    width: 100px;
    height: 100px;
    background-color: #F79824;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-family: 'Mali';
    color:#EDF6FC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button span{
    font-size: 64px;
    line-height: 0;
}
button p{
    margin-top: 20px;
}
.menu-bottom{
    display: flex;
    justify-content: space-between;
}
.image{
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
}
.image img{
    width: 100%;
}
.word{
    font-size: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.play{
    background-color: #F79824;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);   
    display: flex;
    align-items: center;
    padding-left: 33px;
    margin-left: 40px;
}
.cards{
    display: flex;
    width: 720px;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 20px;
}
.card{
    width: 200px;
    height: 200px;
    background-color: #EDF6FC;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 96px;
    transition: 1s all ease;
}
.correct{
    background-color: #389DE0;
    color: #EDF6FC;
}
.incorrect{
    background-color: #B80C09;
    color: #EDF6FC;
}
.card span{
    padding: 0px;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
}
.next{
    background-color: #F5F4EB;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}