*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali';
}
body{
    font-family: 'Mali';
    overflow-y: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./img/backgroundPrincipal.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.container img{
    margin-bottom: 56px;
}
.container button{
    display: block;
    width: 411px;
    height: 93px;
    background-color: #F79824;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 48px;
    color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.kid1{
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg) translate(-50%);
}
.kid2{
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-45deg) translate(50%);
}