*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mali';
}
body{
    font-family: 'Mali';
    overflow-y: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("./img/backgroundPrincipal.png");
    background-position: center center;
    background-repeat: no-repeat;
}
.container img{
    margin-bottom: 56px;
}
.container button{
    display: block;
    width: 411px;
    height: 93px;
    background-color: #F79824;
    border: none;
    border-radius: 10px;
    margin-bottom: 40px;
    font-size: 48px;
    color: #FFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.kid1{
    position: absolute;
    top: 50%;
    left: 0;
    transform: rotate(45deg) translate(-50%);
}
.kid2{
    position: absolute;
    top: 50%;
    right: 0;
    transform: rotate(-45deg) translate(50%);
}
.fullscreen{
    position: absolute;
    top: 30px;
    left: 30px;
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #F79824;
}
.user{
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    font-size: 32px;
    color: #F79824;
}
.fullscreen img , .user img{
    margin-right: 32px;
}
@media only screen and (max-width:1024px)  {
    .fullscreen{
        font-size: 16px;
    }
    .user{
        font-size: 16px;
    }
    .fullscreen img{
        width: 36px;
    }
    .user img{
        width: 27px;
    }
    .kid1{
        width: 330px;
    }
    .kid2{
        width: 330px;
    }
    .logo{
        width: 331px;
    }
    .container button{
        width: 246px;
        height: 56px;
        font-size: 24px;
    }
}

@media only screen and (max-width:768px)  {
    .kid1{
        display: none;
    }
    .kid2{
        width: 238px;
        right: auto;
        left: 50%;
        bottom: 0;
        transform: rotate(0deg) translate(-50%,110%);
    }
    .logo{
        width: 331px;
    }
    .container button{
        width: 246px;
        height: 56px;
        font-size: 24px;
    }
    .container{
        justify-content: flex-start;
        padding-top: 50px;
    }
}