*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mali';
    background-image: url(../img/Fondo.png);
}
.container{
    width: 1110px;
    margin: 0 auto;
    margin-top: 80px;
    position: relative;
}
header{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 700;
    font-size: 48px;
    color: #0f0f0f;
}
.button_home{
    width: 70px;
    height: 70px;
    border: none;
    background-color: #F5F4EB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 100px;
    cursor: pointer;
}
.color_picker{
    width: 70px;
    background-color: #F5F4EB;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 8px;
}
.color_selected{
    width: 48px;
    height: 15px;
    background: #B80C09;
    box-shadow: 0px 4px 10px rgba(184, 12, 9, 0.25);
    border-radius: 4px;
    margin-top: 16px;
}
section{
    display: flex;
    justify-content: center;
}
.canvas{
    background-color: #FBFBFB;
    width: 846px;
    height: 640px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.canvas img{
    width: 740px;
}
footer{
    position: absolute;
    right: 0;
    bottom: 0;
}
.next{
    background-color: #F5F4EB;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);   
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}